//
// Header
//

nav {
  position: absolute;
  right: 0;
  z-index: 1000;

    ul {
      float: right;

      li {
        list-style-type: none;
        float: left;
        display: inline-block;
        padding-right: 20px;

        &:before {
            content: '';
        }
      }
    }
  }

#color-block {
  height: 400px;
  background-color: $orange;
  position: relative;
  padding: 100px 30px 0;
}

.white { color: $white; }
.gray { color: $gray; }
.orange { color: $orange; }




//
// Body
//

body { background-color: $white; }

.wrapper {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  position: relative;
}

.left {
    float: left;
    clear: both;
    display: inline-block;
}

.right {
    float: right;
    display: inline-block;
    width: initial;
}

#speed, #contact {margin-bottom: 30px;}

#about, #what-we-do, #why-prototype, #speed, #thank-you {padding: 30px;}

#contact {
    background-color: $darkgray;
    padding: 60px 30px;

    p, h3 {
        color: $white;
    }
}

figure {
  margin: 40px 0 30px;
  width: 100%;
  display: inline-block;

  img {
      max-width: 480px;
      width: 100%;
      float: right;
  }
}

@mixin figcaption {
    margin-top: 10px;
    width: 100%;
}

figcaption.right {
    @include figcaption;
    text-align: right;
}

figcaption.left {
    @include figcaption;
    text-align: left;
}

ul {

    li {
        list-style-position: inside;
        list-style-type: none;
        text-indent: -1.375em;
        padding-left: 1em;

        &:nth-child(1):before { color: darken($orange, 30%); }
        &:nth-child(2):before { color: darken($orange, 20%); }
        &:nth-child(3):before { color: darken($orange, 10%); }
        &:nth-child(4):before { color: $orange; }
        &:nth-child(5):before { color: #FF820D; }
        &:nth-child(6):before { color: #F1B10B; }
        &:nth-child(7):before { color: lighten(#F1B10B, 20%); }

        &:before {
            color: $orange;
            content: '\2022';
            font-size: 1em;
            padding-right: 1em;
        }

    }
}

#email-us {
    margin: 20px 0 10px;

    a {
        color: $white;
        background: $orange;
        display: block;
        padding: 20px 0;
        text-align: center;
        margin: 0 auto;
        border-radius: 50px;
        width: 100%;
        transition: all 0.2s;
        display: block;

        &:hover {
            background-color: $lightorange;
            color: $white;
            cursor: pointer;
            width: 95%;
        }
    }
}

//
// 4" screens
//

@media only screen and (max-width: 320px){
    #color-block { height: 260px; }
}

//
// Desktop
//

@media only screen and (min-width: 768px){
    .wrapper { max-width: 768px; }

    .left {
        clear: both;
        width: 48%;
        padding-right: 2%;
    }

    .right {
        width: 48%;
        padding-left: 2%;
    }

    figure.right {margin-top: 0.75em}
    #why-prototype .right, #speed .right {margin-top: 2.75em;}
    section {max-width: 708px;}
    #about, #why-prototype, #speed, #thank-you {padding: 60px 30px;}
    #what-we-do {padding: 0 30px 60px}
    #speed {margin-bottom: 30px}
    #thank-you {margin-top:30px}

    #color-block {
        padding: 80px;
        height: 500px;

        h2 {
            max-width: 640px;
        }
    }

    #contact { padding: 100px; }
}

//
// Super desktop
//

@media only screen and (min-width:1366px){
    #color-block {
        height: 600px;

        h2 {
            max-width: 800px;
        }
    }
    .wrapper {max-width:1280px;}
    section {max-width: 1160px;}
    nav ul li {padding-right: 40px;}
    #about, #why-prototype, #speed, #thank-you {padding: 100px 30px;}
    #what-we-do {padding-bottom: 100px;}
}
