// Header
header {
  width: 100%;
  height: 100px;

  nav {

    ul {
      float: right;

      li {
        list-style-type: none;
        float: left;
        display: inline-block;
        padding-right: 20px;
      }
    }
  }
}

.white { color: $white; }
.gray { color: $gray }

.left {
    width: 80%;
    display: inline-block;
}

.right {
    float: right;
    display: inline-block;
    width: initial;
}

// Body
body { background-color: $white; }

.wrapper {
  max-width: 480px;
  margin: 0 auto;
}

h1 {
    position: relative;
    left: -15px;
}

#color-block {
  width: 290px;
  height: 230px;
  background-color: $orange;
  position: relative;
  opacity: 0.96;
  padding: 30px;
  display: table-cell;
  vertical-align: bottom;
}

section {
    padding: 30px;
}

#contact {
    margin: 0 !important;
    background-color: $black;
    padding: 30px;

    p, h3 {
        color: $white;
    }
}

figure {
  margin: 40px 0 30px;
  width: 100%;
  display: inline-block;

  img {
      max-width: 480px;
      width: 100%;
  }
}

@mixin figcaption {
    margin-top: 10px;
    width: 100%;
}

figcaption.right {
    @include figcaption;
    text-align: right;
}

figcaption.left {
    @include figcaption;
    text-align: left;
}

#email-us {
    font-size: 1.375em; /* 22px */
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    letter-spacing: normal;
    color: $white;
    background: $orange;
    display: block;
    padding: 20px 20px 15px 20px;
    margin: 20px 0 10px;
    border-radius: 2px;

    &:hover {
        background-color: $orange 0.6;
        cursor: pointer;
    }
}
