// Classes
.wrapper {
  max-width: 480px;
  margin: 0 auto;
}

// IDs
#color-block {
  width: 400px;
  height: 300px;
  background-color: $orange;
  position: relative;
  top: -40px;
  left: -40px;
  z-index: -100
}
