// Header
header {
  width: 100%;
  height: 100px;

  nav {

    ul {
      float: right;

      li {
        list-style-type: none;
        float: left;
        display: inline-block;
        padding-left: 20px;
      }
    }
  }
}
