---
title: Almanac
---

<header class="wrapper">
  <nav>
    <ul>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>

<main class="wrapper">
  <h1>almanac</h1>
  <div id="color-block" class="animated colorBlock">
      <h2 class="white">We shape mobile products with high-fidelity, interactive prototypes</h2>
  </div>
  <section id="about">
      <p class="left">We're a collaborative duo who enjoys solving tough problems for early stage teams. With over 15-years of combined mobile product experience we understand the complexities that come with building a digital product. To combat them, we use our expertise in product definition and prototyping to help shape rich and powerful design solutions.</p>
      <figure>
          <img src="images/placeholder.jpg" class="right" alt="Max &amp; Steve" width="240" height="180" />
          <figcaption class="gray right small">Max &amp; Steve</figcaption>
      </figure>
      <p class="left">The scope of any project always differs, yet what we specialize in always holds true. Below is a list of the things that we hold deep confidence in building:</p>
      <ul class="left">
          <li>Interactive prototypes using the latest tools, like: Pixate, Principle for Mac, Marvel, Flinto, Adobe Comet and more</li>
          <li>Early stage product definition</li>
          <li>Product validation</li>
          <li>Conducting user testing</li>
          <li>Well defined, and scoped projects</li>
          <li>Frameworks for feature prioritzation, definition and success measurement</li>
          <li>Product specification templates to help iterate after our prototypes</li>
  </section><!-- End About -->
  <section>
      <h3>Why Prototype?</h3>
      <figure>
          <img src="images/prototyping@2x.png" alt="Max &amp; Steve" />
      </figure>
      <p class="left">In today's landscape, developing high-quality mobile products takes time, talent and money. While at the same time, user-centric business principles drive us to validate design solutions by forming hypotheses early, and often.</p>
      <p class="left">Our belief is that a clearly scoped project, coupled with the power of prototyping design enables product validation without the overhead that comes with engineering an application.</p>
      <p class="left">Said more simply, there's no substiute for putting an effectively prototyped solution into your hands&mdash;in beautiful, interactive form.</p>
  </section><!-- End Why Prototype-->
  <section>
      <h3>Speed &amp; Validity</h3>
      <p class="left">Low-fidelity prototypes can be constructed in a matter of hours or days when a problem has been clearly articluated.</p>
      <p class="left">Higher-fidelity prototypes may take up to a week or longer to bring to fruition, however in either case the time-frame will always be shorter and more economical when compared to the development of a native application&mdash;say for iOS or Android.</p>
      <p class="left">As a small team of two we can move with an agility that larger teams cannot afford. Our focus on solving problems for mobile products shines when it comes to building quickly and clearly for early-stage problems.</p>
  </section><!-- End Speed & Validity-->
  <section id="contact">
      <h3>Get in touch</h3>
      <p class="left">We are currently accepting small projects. We prefer to meet in person or over a video chat to discuss the challenges you have. Send us an email to get started with a quick note about yourself, the project and what you have in mind.</p>
      <a href="mailto:hello@almanac.design" id="email-us">Email us</a>
      <small class="gray small">Click the button or copy our address,  hello@almanac.design</small>
  </section><!-- End contact -->
  <section>
      <p class="left">Thank you for stopping by and checking us out. We're here, and eager to help!</p>
      <p class="left">Cheers<br>Max &amp; Steve</p>
  </section>
</main>
