---
title: Almanac
---

<nav>
    <ul>
        <li><a href="#about" class="white">About</a></li>
        <li><a href="#contact" class="white">Contact</a></li>
    </ul>
</nav>
<div id="color-block" class="animated colorBlock">
    <h2 class="white">We shape mobile products with high-fidelity, interactive prototypes</h2>
    <h1 class="white">&mdash;almanac</h1>
</div>

<main class="wrapper">
  <section id="about">
      <div class="left">
          <p>Hello! We are Almanac, or more realistically we're <a href="http://maxbulger.net" title="Max's Site">Max Bulger</a> and <a href="http://stephenmeszaros.com" title="Steve's Site">Stephen Meszaros</a>, a collaborative duo that enjoys solving problems for early stage teams. With over 15-years of combined mobile product experience we understand the complexities that come with building a digital product.</p>
          <p>To help you combat them, we use our expertise in product definition and interactive prototyping to help shape rich and powerful design solutions.</p>
      </div>
      <figure class="right">
          <img src="images/placeholder.jpg" alt="Max &amp; Steve" style="width:240px; height:180px; float:right" />
          <figcaption class="gray right small">Max &amp; Steve</figcaption>
      </figure>
  </section><!-- End About -->
  <section id="what-we-do">
      <div class="right">
          <p>The scope of any project always differs, yet what we specialize in is consistent. Below is a list of the things that we have deep confidence in building:</p>
          <ul>
              <li>Interactive prototypes using the latest tools, like: <a href="http://pixate.com" title="Pixate">Pixate</a>, <a href="http://principleformac.com" title="Principle for Mac">Principle for Mac</a>, <a href="http://marvelapp.com" title="Marvel">Marvel</a>, <a href="http://http://www.adobe.com/products/experience-design.html" title="Adobe XD">Adobe Comet</a> and more</li>
              <li>Early stage product definition</li>
              <li>Product validation</li>
              <li>Conducting user testing</li>
              <li>Well defined, and scoped projects</li>
              <li>Frameworks for feature prioritzation, definition and success measurement</li>
              <li>Product specification templates to help iterate after our prototypes</li>
          </ul>
      </div>
  </section><!-- End What We Do -->
  <section id="why-prototype">
      <div class="left">
          <h3 class="orange">Why Prototype?</h3>
          <p>In today's landscape, developing high-quality mobile products takes time, talent and money. While at the same time, user-centric business principles drive us to validate design solutions by forming hypotheses early, and often.</p>
          <p>Our belief is that a clearly scoped project, coupled with the power of prototyping design enables product validation without the overhead that comes with engineering an application.</p>
          <p>Said more simply, there's no substiute for putting an effectively prototyped solution into your hands&mdash;in beautiful, interactive form.</p>
      </div>
      <figure class="right">
          <img src="images/prototyping@2x.png" alt="Max &amp; Steve" />
      </figure>
  </section><!-- End Why Prototype-->
  <section id="speed">
      <div class="left">
          <h3 class="orange">Speed &amp; Validity</h3>
          <p>Low-fidelity prototypes can be constructed in a matter of hours or days when a problem has been clearly articluated.</p>
          <p>Higher-fidelity prototypes may take up to a week or longer to bring to fruition, however in either case the time-frame will always be shorter and more economical when compared to the development of a native application&mdash;say for iOS or Android.</p>
      </div>
      <div class="right">
          <p>As a small team of two we can move with an agility that larger teams cannot afford. Our focus on solving problems for mobile products shines when it comes to building quickly and clearly for early-stage problems.</p>
      </div>
  </section><!-- End Speed & Validity-->
  <section id="contact">
      <h3 class="orange">Get in touch</h3>
      <p>As of this writing (March 2016), <span class="orange">we are only accepting small projects.</span> To kick anything off we prefer to meet in person to discuss the challenges you're facing. Click the button below to send us an email with a quick note about yourself, the project, and anything else you'd like to share.</p>
      <div id="email-us">
          <a href="mailto:hello@almanac.design">Email us</a>
      </div>
      <small class="gray small">Click the button or email us at <span class="white">hello@almanac.design</span></small>
  </section><!-- End Email Us -->
  <section id="thank-you">
      <p class="left">Thank you for stopping by and checking us out. We're here, and eager to help!</p>
      <p class="left">Cheers<br>Max &amp; Steve</p>
  </section><!-- End Thank You -->
</main>
