---
title: Almanac
---

<header class="wrapper">
  <nav>
    <ul>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

<main class="wrapper">
  <h1>almanac</h1>
  <div id="color-block">
      <h2 class="white">We shape mobile products with high-fidelity, interactive prototypes</h2>
  </div>
  <section id="about">
      <p class="sixty-six">We're a collaborative duo who enjoys solving tough problems for early stage teams. With over 15-years of combined mobile product experience we understand the complexities that come with building a digital product. To combat them, we use our expertise in product definition and prototyping to help shape rich and powerful design solutions.</p>
      <figure>
          <img src="images/placeholder.jpg" alt="Max &amp; Steve" />
          <figcaption class="gray">Max &amp; Steve</figcaption>
      </figure>
      <p class="sixty-six">The scope of any project always differs, yet what we specialize in always holds true. Below is a list of the things that we hold deep confidence in building:</p>
      <ul>
          <li>Interactive prototypes using the latest tools, like: Pixate, Principle for Mac, Marvel, Flinto, Adobe Comet and more</li>
          <li>Early stage product definition</li>
          <li>Product validation</li>
          <li>Conducting user testing</li>
          <li>Well defined, and scoped projects</li>
          <li>Frameworks for feature prioritzation, definition and success measurement</li>
          <li>Product specification templates to help iterate after our prototypes</li>
  </section>
  <section class="sixty-six">
      <h3>Why Prototype?</h3>
      <p>In today's landscape, developing high-quality mobile products takes time, talent and money. While at the same time, user-centric business principles drive us to validate design solutions by forming hypotheses early, and often.</p>
      <p>Our belief is that a clearly scoped project, coupled with the power of prototyping design enables product validation without the overhead that comes with engineering an application.</p>
      <p>Said more simply, there's no substiute for putting an effectively prototyped solution into your hands&mdash;in beautiful, interactive form.</p>
  </section>
</main>
